<div class="bg-white border-t border-b border-gray-200 shadow-sm sm:rounded-lg sm:border">
  <h3 class="sr-only">Order placed on <time datetime="2021-07-06">{{ formatDate this.created }}</time></h3>

  <div class="flex items-center p-4 border-b border-gray-200 sm:p-6 sm:grid sm:grid-cols-4 sm:gap-x-6">
    <dl class="flex-1 grid grid-cols-2 gap-x-6 text-sm col-span-3 sm:grid-cols-3 lg:col-span-3">
      <div>
        <dt class="font-medium text-gray-900">Payment ID</dt>
        <dd class="mt-1 text-gray-500">
          {{ paymentIntent.id }}
        </dd>
      </div>
      <div class="hidden sm:block text-center">
        <dt class="font-medium text-gray-900">Date placed</dt>
        <dd class="mt-1 text-gray-500">
          <time datetime="2021-07-06">{{ formatDate this.created }}</time>
        </dd>
      </div>
      <div class="text-center">
        <dt class="font-medium text-gray-900">Total amount</dt>
        <dd class="mt-1 font-medium text-gray-900">
          {{ formatCurrency 'en-US' paymentIntent.amount }}
        </dd>
      </div>
    </dl>

    <div class="lg:col-span-1 lg:flex lg:items-center lg:justify-end lg:space-x-4">
      <a href="https://dashboard.stripe.com/test/payments/{{paymentIntent.id}}" target="_blank" class="flex items-center justify-center bg-white py-2 px-2.5 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span>View Payment</span>
      </a>
    </div>
  </div>
</div>

